<!doctype html>
<html>

<head>
  <title>Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Neuton:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body {
      padding-top: 100px;
      font-family: 'Patrick Hand', cursive;
      background-image: url(https://centralaz.edu/wp-content/uploads/2019/10/Book-on-Computer.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }

    h1{
      font-family: 'Neuton', serif;
    }
    .jumbotron{
     background-color: antiquewhite;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="jumbotron text-center">
      <h1> Question Mingle</h1>
      <p>Welcome! Get help with classes now!</p>
      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
      <a href="/register" class="btn btn-default"><span class="fa fa-user"></span> Register</a>
    </div>
  </div>
</body>

</html>