<%- include('header') -%>

<h2> Posts </h2>

<ul class="posts">
  <!-- Loop through quotes -->
  <% for(var i = 0; i < posts.length; i++) {%>
    <li class="post">
      <span><%= posts[i].class %></span>:
      <span><%= posts[i].topic %></span>
      <span><%= posts[i].description %></span>
    </li>
  <% } %>
</ul>