


<% users.forEach(function (user) { %>
    <li>
        <h1>Rate: <%= user.username %> </h1>
    </li>
<% }) %>

  <form action="/rate_tutors" method="POST">
    <label for="rate">Rate your tutor</label>
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 </label>
    <input type="radio" id="star4half" name="rating" value="4.5" /><label for="star4half">4 1/2 </label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4">4 </label>
    <input type="radio" id="star3half" name="rating" value="3.5" /><label for="star3half">3 1/2 </label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3</label>
    <input type="radio" id="star2half" name="rating" value="2.5" /><label for="star2half">2 1/2 </label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 </label>
    <input type="radio" id="star1half" name="rating" value="1.5" /><label for="star1half">1 1/2 </label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1</label>
    <input type="radio" id="starhalf" name="rating" value="0.5" /><label for="starhalf">1/2 </label>
    <button>Submit</button>
</form>
