<h1>
    Search
</h1>
<form action="/search" method="POST">
    <label for="search">Search</label>
    <input type="text" id="search" name="search" class ="input">
    <button>Submit</button>
    
</form>



<div class="results-container">
    <ul class="results-list" id="list">

    </ul>
 </div>

<ul>
    <li><a href="/">Home</a></li>
</ul>